@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The awe-inspiring ErrorApp!</h1>
    <p class="lead">Please press the button below</p>
    @*<p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-large">Error? &raquo;</a></p>*@
    <p>@Html.ActionLink("Error?", "Index", "Home", null, new {@class = "btn btn-primary btn-large btn-error"})</p>
</div>

