@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
@{
    string recipientEmail = System.Configuration.ConfigurationManager.AppSettings["Email"];
}
<h2 class="text-danger">Error.</h2>
<h4>An error has occurred, and it's probably your fault.  Error logs have been stored on your computer and sent to <a href="mailto:@recipientEmail">@recipientEmail</a>. <br />An error message should also be available in the output window in Visual Studio.</h4>

